:root {
  --primary-light: #e2e8f0;
  --secondary-light: #94a3b8;
  --primary-dark: #1e293b;
  --primary-orange: #d97706;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  display: grid;
  grid-template-columns: clamp(220px, 25%, 280px) 1fr;
  min-height: 100vh;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-dark);
}

main {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: auto auto 1fr auto;
  padding: 0 4rem;
}

.sidebar {
  position: sticky;
  top: 0;

  display: flex;
  flex-direction: column;
  max-height: 100vh;
  color: var(--secondary-light);
  background-color: var(--primary-dark);
  font-weight: 300;
  user-select: none;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 2rem 1rem;
  gap: 12px;
  color: var(--primary-light);
  cursor: pointer;
}

.logo-container > p {
  font-size: 2.8rem;
  font-weight: 700;
}

.sidebar-nav {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-nav li {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 1.6rem 2rem;
  border-left: 4px solid transparent;
  cursor: pointer;
}

.sidebar-nav li:last-child {
  padding-bottom: 2rem;
}

.sidebar-nav li.active,
.sidebar-nav li:hover {
  background-color: #94a3b8bb;
  border-left: 4px solid var(--primary-orange);
  color: var(--primary-light);
}

.header {
  grid-row: 1;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 320px;
  align-items: center;
  padding: 2rem 0;
}

.header > h1 {
  font-size: 2.4rem;
}

.user {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 18px;
  font-size: 1.4rem;
}

.user > .icons {
  display: flex;
  align-items: center;
  gap: 12px;
  border-right: 2px solid var(--secondary-light);
  padding-right: 16px;
  color: var(--secondary-light);
}

.user-img {
  width: 48px;
  height: 48px;
}

.user-img img {
  width: 43px;
  border-radius: 50%;
}

.info-cards {
  grid-row: 2;
  grid-column: 1 / -1;
  display: grid;
  gap: 18px;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
}

.info-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.info-card:hover {
  color: var(--primary-orange);
  border: 2px solid var(--primary-orange);
  transition: 0.2s ease-in-out;
}

.info-card > :first-child {
  font-size: 1.6rem;
  color: var(--secondary-light);
  padding-bottom: 2rem;
  transition: 0.2s ease-in-out;
}

.info-card:hover > :first-child {
  color: var(--primary-orange);
  transition: 0.2s ease-in-out;
}

.info-card > :last-child {
  font-size: 2.8rem;
  font-weight: 700;
}

.stats-container {
  grid-row: 3;
  grid-column: 1 / -1;
  margin: 4rem 0;
  border-bottom: 5px solid var(--primary-dark);
  border-radius: 4px;
  overflow: hidden;
  background-color: var(--primary-light);
}

.stats {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--primary-dark);
  color: var(--primary-light);
}

.year {
  color: #fff;
  background-color: var(--primary-orange);
  padding: 3rem;
}

.data-items {
  flex: 1;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.data-item {
  text-align: center;
}

.data-item > :first-child {
  color: var(--secondary-light);
  font-size: 1.4rem;
  padding-bottom: 0.6rem;
}

.data-item > :last-child {
  font-size: 1.8rem;
  font-weight: 700;
}

.data-item > :first-child:after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: var(--secondary-light);
}

.books {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(140px, 1fr));
  gap: 38px;
  padding: 2rem;
}

.book {
  position: relative;
  cursor: pointer;
}

.book-img {
  border: 3px solid transparent;
  overflow: hidden;
  transition: all 0.4s;
}

.book.read > .book-img:hover {
  border: 3px solid var(--primary-orange);
  transition: all 0.4s;
}

.book.pending > .book-img:hover {
  border: 3px solid var(--primary-dark);
  transition: all 0.4s;
}

.book.reading > .book-img:hover {
  border: 3px solid green;
  transition: all 0.4s;
}

.book-img img {
  display: block;
  width: 100%;
  height: 220px;
  object-fit: cover;
  transition: all 0.4s;
}

.book-img img:hover {
  transform: scale(1.3);
  transition: all 0.4s;
}

.book-content {
  text-align: center;
  padding: 1rem;
}

.book-content > h3 {
  font-size: 1.6rem;
  margin-bottom: 0.4rem;
}

.book-content > p {
  font-size: 1.4rem;
  color: var(--secondary-light);
}

.book.read::after {
  position: absolute;
  top: -6px;
  right: -6px;
  content: '\2713';
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
  background-color: var(--primary-orange);
  box-shadow: rgba(0, 0, 0, 0.46) 0px 1px 4px;
  font-size: 1.8rem;
}

.book.pending::after {
  position: absolute;
  top: -6px;
  right: -6px;
  content: '\2610';
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
  background-color: var(--primary-dark);
  box-shadow: rgba(0, 0, 0, 0.46) 0px 1px 4px;
  font-size: 1.8rem;
}

.book.reading::after {
  position: absolute;
  top: -6px;
  right: -6px;
  content: '\2756';
  width: 32px;
  height: 32px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--primary-light);
  background-color: green;
  box-shadow: rgba(0, 0, 0, 0.46) 0px 1px 4px;
  font-size: 1.8rem;
}

.featured {
  grid-row: 4;
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 38px;
  margin-bottom: 4rem;
}

.lg-card {
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  padding: 3rem;
}

.card-header {
  margin-bottom: 2rem;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.card-header > h2 {
  font-size: 1.8rem;
}

.card-header > a:link,
.card-header > a:visited {
  font-size: 1.4rem;
  text-decoration: none;
  color: var(--primary-orange);
  font-weight: 600;
  transition: all 0.4s ease-in-out;
}

.card-header > a:hover,
.card-header > a:active {
  text-decoration: underline;
}

.card-header ~ div {
  font-size: 1.4rem;
  padding: 1.2rem 0;
  display: flex;
  justify-content: space-between;
}

.card-header ~ div:not(:last-child) {
  border-bottom: 1px solid var(--secondary-light);
}

.lg-card div > p:last-child {
  color: var(--secondary-light);
}

.rating {
  color: var(--primary-orange);
}

/************************************/
/* BELOW 1344px (Smaller desktops)  */
/************************************/

@media (max-width: 84em) {
}

/************************************/
/* BELOW 1200px (Landscape Tablets) */
/************************************/

@media (max-width: 75em) {
  html {
    font-size: 56.25%;
  }

  .featured {
    grid-template-columns: 1fr;
  }
}

/************************************/
/* BELOW 940px (Tablets)            */
/************************************/

@media (max-width: 59em) {
  html {
    font-size: 50%;
  }

  body {
    grid-template-columns: 1fr;
  }

  .sidebar {
    display: none;
  }
}

/************************************/
/* BELOW 704px (Smaller Tablets)    */
/************************************/

@media (max-width: 44em) {
  .stats {
    flex-direction: column;
    align-items: initial;
  }

  .year {
    text-align: center;
  }

  .data-items {
    padding: 2rem 0;
  }
}

/************************************/
/* BELOW 544px (Phones)             */
/************************************/

@media (max-width: 34em) {
  main {
    padding: 0rem 3rem;
  }

  .header {
    grid-template-columns: repeat(2, 1fr);
  }

  .book-img img {
    height: 280px;
  }

  .user {
    gap: 12px;
  }

  .user > .icons {
    display: none;
  }

  .lg-card div > div {
    flex-shrink: 1;
  }

  .lg-card div > p {
    flex-shrink: 0;
  }
}
