:root {
  --primary-light: #e2e8f0;
  --secondary-light: #94a3b8;
  --primary-dark: #1e293b;
  --primary-orange: #d97706;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  min-height: 100vh;
  display: flex;
  font-size: 1.6rem;
  font-family: 'Roboto', sans-serif;
  color: var(--primary-dark);
}

main {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 3rem;
}

h1 {
  margin: 0;
  padding: 0;
  font-size: 2.4rem;
}

.sidebar {
  position: sticky;
  top: 0;
  left: 0;
  width: 70px;
  height: 100vh;
  color: var(--secondary-light);
  background-color: var(--primary-dark);
  font-weight: 300;
  display: flex;
  flex-direction: column;
  user-select: none;
  overflow: hidden;
  transition: all 0.4s ease-in-out;
  flex-shrink: 0;
}

.sidebar * {
  flex-shrink: 0;
}

.sidebar.active {
  width: clamp(220px, 25%, 280px);
  transition: all 0.4s ease-in-out;
}

.logo-container {
  display: flex;
  align-items: center;
  padding: 3rem 1rem;
  gap: 12px;
  color: var(--primary-light);
  cursor: pointer;
  overflow: hidden;
}

.logo-container > p {
  font-size: 2.8rem;
  font-weight: 700;
}

.sidebar-nav {
  flex-shrink: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.sidebar-nav li {
  display: flex;
  align-items: center;
  gap: 28px;
  padding: 1.6rem 2rem;
  border-left: 4px solid transparent;
  cursor: pointer;
}

.sidebar-nav li:last-child {
  padding-bottom: 2rem;
}

.sidebar-nav li.active,
.sidebar-nav li:hover {
  background-color: #94a3b8bb;
  border-left: 4px solid var(--primary-orange);
  color: var(--primary-light);
}

.header {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: 1fr 320px;
  align-items: center;
}

.user {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 18px;
  font-size: 1.4rem;
}

.user > .icons {
  display: flex;
  align-items: center;
  gap: 12px;
  border-right: 2px solid var(--secondary-light);
  padding-right: 16px;
  color: var(--secondary-light);
}

.user-img {
  width: 50px;
  height: 50px;
}

.user-img img {
  width: 100%;
  border-radius: 50%;
}

.info-cards {
  grid-column: 1 / -1;
  display: grid;
  gap: 28px;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  cursor: pointer;
}

.info-card {
  text-align: center;
  border: 2px solid transparent;
  border-radius: 4px;
  padding: 2rem 0;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  transition: 0.2s ease-in-out;
}

.info-card:hover {
  color: var(--primary-orange);
  border: 2px solid var(--primary-orange);
  transition: 0.2s ease-in-out;
}

.info-card > :first-child {
  font-size: 1.6rem;
  color: var(--secondary-light);
  padding-bottom: 2rem;
  transition: 0.2s ease-in-out;
}

.info-card:hover > :first-child {
  color: var(--primary-orange);
  transition: 0.2s ease-in-out;
}

.info-card > :last-child {
  font-size: 2.8rem;
  font-weight: 700;
}

.stats-container {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  border-radius: 4px;
  overflow: hidden;
  gap: 20px;
  padding: 1rem;
}

.stats {
  position: relative;
  grid-column: span 2;
  grid-row: span 2;
  background-color: var(--primary-orange);
  color: var(--primary-dark);
  border-radius: 4px;
}

.year {
  background-color: var(--primary-light);
  padding: 1rem;
  border-radius: 4px;
}

.data-items {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.data-item {
  text-align: center;
}

.data-item > :first-child:after {
  display: block;
  content: '';
  width: 100%;
  height: 1px;
  background-color: #fff;
}

.data-item > :first-child {
  font-size: 1.6rem;
  padding-bottom: 1rem;
  color: #fff;
}

.data-item > :last-child {
  font-size: 1.8rem;
  font-weight: 700;
}

.stats-container img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
  border-bottom: 5px solid var(--primary-orange);
}
